* {
  box-sizing: border-box;

}

button {
  cursor: pointer;
}

.window {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
  padding: 20px;

  background: rgba(0, 0, 0, 0.6);
}

.window[hidden] {
  display: none;
}

.button-open {
  display: flex;
  justify-content: end;
}

.close {
  border: 1px solid black;
  background: transparent;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;

  color: black;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}