* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

main {
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    background-color: red;
    height: 40vh;
    text-align: center;
    width: 40vh;
}

h1,
p {
    color: azure;
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.left button,
.right button {
    border: 3px solid black;
    border-radius: 20px;
    background-color: transparent;
    padding: 1.5rem;
}

.left button:hover,
.right button:hover {
    background-color: white;
}